@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model WebApplication.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my ASP.NET CORE application.</h1>
    <td>
        @Html.ActionLink("Products", "GetProducts", "Product")
    </td>
    <td>
        @Html.ActionLink("Categories", "GetCategories", "Category")
    </td>
    @if (User.IsInRole(nameof(RoleEnum.Administrator)))
    {
        <td>
            @Html.ActionLink("Administration", "Users", "Administration")
        </td>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Currency
            </th>
            <th>
                Exchange rate (RUB)
            </th>
            <th>
    <tbody>
        @foreach (var item in Model.Currensies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrnesyCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>
